<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776492686106-ferlfptekpnvnmd7d17doa7cto8lq5qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776492686106-ferlfptekpnvnmd7d17doa7cto8lq5qj</string>
	<key>API_KEY</key>
	<string>AIzaSyDEqlUr4OjmfE4k6oy_1nJnP-yvAuQNZBc</string>
	<key>GCM_SENDER_ID</key>
	<string>776492686106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Mindprogress</string>
	<key>PROJECT_ID</key>
	<string>gramspot-79680</string>
	<key>STORAGE_BUCKET</key>
	<string>gramspot-79680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776492686106:ios:486af57c673cf456922aa3</string>
	<key>DATABASE_URL</key>
	<string>https://gramspot-79680.firebaseio.com</string>
</dict>
</plist>